$md: 768px;
$lg: 1280px;
$xl: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// COLORS
$grey: #F7F7F7;
$green: #76C100;
$gold: #FFCE43;
$darkgold: #f1af40;
$lightblue: #C0F6FE;
$blue: #6CD2FC;
$darkblue: #0082AF;