@import 'rating/rating';

.review {
  padding: 20px;
  padding-top: 0;
  border-radius: 5px;
  background-color: $lightblue;
  box-shadow: 0 0 10px #ccc;
  overflow: hidden;
  
  @media (min-width: $xl) {
    padding: 25px;
    padding-top: 0;
  }

  &__header {
  }

  &__rating {
    display: inline-block;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    @media (min-width: $md) {
      margin-bottom: 10px;
    }
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: $md) {

    }
    
    @media (min-width: $lg) {
      margin-bottom: 25px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 30px;
    }
  }

  &__user-info-user {
    display: flex;
    align-items: center;
  }

  &__user-info-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    @media (min-width: $md) {
      margin-right: 15px;
    }

    @media (min-width: $lg) {
      margin-right: 20px;
    }
  }

  &__user-info-image {
    width: 100%;
    height: 100%;
    fill: #60CDD8;
  }

  &__user-info-name {
    font-size: 17px;
    line-height: 20px;

    @media (min-width: $md) {
      font-size: 18px;
      line-height: 22px;
    }
    
    @media (min-width: $lg) {
      font-size: 20px;
      line-height: 24px;
    }
    
    @media (min-width: $xl) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__user-info-years {
    font-size: 14px;
    line-height: 16px;

    @media (min-width: $md) {
      font-size: 15px;
      line-height: 17px;
    }
    
    @media (min-width: $lg) {
      font-size: 16px;
      line-height: 18px;
    }
    
    @media (min-width: $xl) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 18px;

    @media (min-width: $md) {
      font-size: 16px;
      line-height: 20px;
    }
    
    @media (min-width: $lg) {
      font-size: 17px;
      line-height: 24px;
    }
    
    @media (min-width: $xl) {
      font-size: 19px;
      line-height: 24px;
    }
  }
}