.promo-header {
  padding-top: 110px;
  padding-bottom: 50px;

  @media (min-width: $md) {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  
  @media (min-width: $lg) {
    padding-top: 180px;
    padding-bottom: 150px;
  }
  
  @media (min-width: $xl) {
    padding-top: 230px;
    padding-bottom: 200px;
  }

  &__container {

    @media (min-width: $lg) {
      position: relative; 
      
      &::after {
        content: '';
        position: absolute;
        top: -60px;
        right: 0;
        width: 720px;
        height: 560px;
        background-image: url('../img/promo-student.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }

    @media (min-width: $xl) {

      &::after {
        top: -90px;
        right: 30px;
        width: 950px;
        height: 750px;
      }
    }
  }

  &__wrapper {
    @media (min-width: $lg) {
      width: 47%;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: normal;
    color: #000;

    @media (min-width: $lg) {
      font-size: 30px;
      line-height: 36px;
    }

    @media (min-width: $xl) {
      font-size: 36px;
      line-height: 42px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @media (min-width: $md) {
      font-size: 18px;
      line-height: 24px;
    }

    @media (min-width: $lg) {
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $xl) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__form {
    margin-top: 30px;

    @media (min-width: $lg) {
      margin-top: 50px;
    }

    @media (min-width: $xl) {
      margin-top: 85px;
    }
  }
}