.form {

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;

    @media (min-width: $lg) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 26px;
    }

    @media (min-width: $xl) {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 30px;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #999;
    font-size: 16px;
    line-height: 18px;
    color: #8C8C8C;
    outline: none;
    transition: border-color 0.3s;

    @media (min-width: $lg) {
      height: 50px;
      font-size: 18px;
      line-height: 22px;
    }
    
    @media (min-width: $xl) {
      height: 75px;
      font-size: 22px;
      line-height: 26px;
    }

    &:focus {
      border-color: $darkgold;
    }
  }

  &__button {
    width: 100%;
    
    @media (min-width: $lg) {
      height: 50px;
    }
    
    @media (min-width: $xl) {
      height: 75px;
    }
  }
}