.our-services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  
  @media (min-width: $md) {
    padding-top: 50px;
    padding-bottom: 75px;
  }
  
  @media (min-width: $lg) {
    position: relative;
    padding-top: 70px;
    padding-bottom: 120px;
    overflow: hidden;
  }
  
  @media (min-width: $xl) {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  &::after {
    content: none;

    @media (min-width: $lg) {
      content: '';
      position: absolute;
      bottom: 15%;
      left: -320px;
      width: 360px;
      height: 360px;
      border-radius: 50%;
      background-color: $blue;
    }
  }

  &__container {
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;

    @media (min-width: $md) {
      margin-bottom: 50px;
    }
    
    @media (min-width: $lg) {
      margin-bottom: 85px;
      font-size: 42px;
      line-height: 50px;
    }
    
    @media (min-width: $xl) {
      margin-bottom: 100px;
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__items {

    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    @media (min-width: $lg) {
      justify-content: flex-start;
    }
  }

  &__item {
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 0 15px #ccc;

    @media (min-width: $md) {
      width: 48%;
      margin-bottom: 4%;
    }
    
    @media (min-width: $lg) {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 35px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    
    @media (min-width: $xl) {
      
    }
  }

  &__item-wrapper {
    padding: 20px;
    overflow: hidden;

    @media (min-width: $md) {
      padding: 25px;
    }
    
    @media (min-width: $xl) {
      padding: 30px;
    }
  }

  &__item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background-color: $gold;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    @media (min-width: $md) {
      font-size: 20px;
      line-height: 24px;
    }
    
    @media (min-width: $lg) {
      font-size: 25px;
      line-height: 30px;
    }
    
    @media (min-width: $xl) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  &__item-list {
    margin-bottom: 20px;
  }

  &__item-list-item {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    color: #000;

    @media (min-width: $lg) {
      font-size: 18px;
      line-height: 24px;
    }
    
    @media (min-width: $xl) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__item-more {
    display: inline-flex;
    padding: 0px 30px;
  }
}