.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 3px #e7e7e7;
  
  &__container {}

  &__bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: relative;

    @media (min-width: $lg) {
      height: 70px;
    }
  }

  &__toggle {
    position: relative;
    width: 25px;
    height: 20px;
    font-size: 0;
    user-select: none;

    @media (min-width: $lg) {
      display: none;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #000;
      transition: transform 0.2s ease-in-out;
      border-radius: 3px;
    }

    &::after {
      top: auto;
      bottom: 0;
    }
  }

  &__toggle.open {

    & > .header__toggle-icon {
      transform: scale(0);
    }

    &::before {
      transform: translateY(8px) rotate(135deg);
    }

    &::after {
      transform: translateY(-8px) rotate(-135deg);
    }
  }

  &__toggle-icon {
    display: block;
    width: 80%;
    height: 4px;
    border-radius: 3px;
    background-color: #000;
    transition: transform 0.2s ease-in-out;
  }

  &__logo {}

  &__menu {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 100;
    width: 100%;
    display: none;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    @media (min-width: $lg) {
      display: block;
      position: static;
      width: auto;
      margin-left: auto;
      animation: none;
    }
  }

  &__toggle.open + &__menu {
    display: block;
  }

  &__contacts {
    display: none;

    @media (min-width: $lg) {
      display: block;
    }
  }
}