@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}